
{{ form_start(form) }}


<div class="container" > 





<div class="form-group">
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    <div class="form-error" > 
        {{ form_errors(form.name) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(form.firstName) }}
    {{ form_widget(form.firstName) }}
    <div class="form-error" > 
        {{ form_errors(form.firstName) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(form.ages) }}
    {{ form_widget(form.ages) }}
    <div class="form-error" > 
        {{ form_errors(form.ages) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(form.sex) }}
    {{ form_widget(form.sex) }}
    <div class="form-error" > 
        {{ form_errors(form.sex) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(form.adress) }}
    {{ form_widget(form.adress) }}
    <div class="form-error" > 
        {{ form_errors(form.adress) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(form.image) }}
    {{ form_widget(form.image) }}
    <div class="form-error" > 
        {{ form_errors(form.image) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(form.mail) }}
    {{ form_widget(form.mail) }}
    <div class="form-error" > 
        {{ form_errors(form.mail) }}
    </div>
</div>

<div class="class="btn btn-primary">
    {{ form_row(form.submit) }}  
</div>
</div>
{{ form_end(form) }}
